---
name: Build Linux

on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:

concurrency:
  group: build-linux-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Build on ${{ matrix.os }} with ${{ matrix.compiler }}${{ matrix.asan && ' (ASAN)' || ''}}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-22.04
            compiler: g++-10
          - os: ubuntu-22.04
            compiler: g++ # g++-11
          - os: ubuntu-22.04
            compiler: g++-12
          - os: ubuntu-22.04
            compiler: clang # clang-14
          - os: ubuntu-22.04
            compiler: clang-15

          - os: ubuntu-24.04
            upload-coverage: true
            compiler: g++ # g++-13

          - os: ubuntu-24.04
            asan: true
            compiler: g++ # g++-13
          - os: ubuntu-24.04
            compiler: clang # clang-18
            skip-coverage: true # coverage target fails to run here for some reason

    env:
      SETTINGS_CONFIGURE_PRESET: ${{ matrix.asan && 'debug-asan' || (matrix.skip-coverage && 'debug' || 'debug-coverage')}}
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: true

      - name: Install compiler
        id: install_cc
        uses: rlalik/setup-cpp-compiler@master
        with:
          compiler: ${{ matrix.compiler }}

      - name: Setup environment (Shared)
        run: |
          mkdir build

      - name: Install system dependencies
        if: startsWith(matrix.os, 'ubuntu')
        run: |
          sudo apt-get update
          sudo apt-get -y install gcovr

      - name: Install library dependencies
        run: |
          sudo apt-get update
          sudo apt-get -y install rapidjson-dev

      - name: Build
        env:
          CC: ${{ steps.install_cc.outputs.cc }}
          CXX: ${{ steps.install_cc.outputs.cxx }}
        run: |
          cmake \
            --preset ${{ env.SETTINGS_CONFIGURE_PRESET }} \
            ${{ matrix.os == 'ubuntu-24.04' && '-DGCOVR_ADDITIONAL_ARGS="--gcov-ignore-parse-errors=negative_hits.warn_once_per_file"' || '' }} \
            ..
          cmake --build . --config Debug --parallel
        working-directory: build

      - name: Run tests
        run: ctest --output-on-failure
        working-directory: build

      - name: Generate coverage
        if: endsWith(env.SETTINGS_CONFIGURE_PRESET, '-coverage')
        run: make coverage
        working-directory: build

      - name: Upload coverage reports to Codecov
        if: matrix.upload-coverage
        uses: codecov/codecov-action@v5.5.2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          verbose: true
