---
name: Build Linux

on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-20.04, ubuntu-22.04]
        package-manager: [conan, none]

      fail-fast: false

    steps:
      - id: package-manager
        env:
          PACKAGE_MANAGER: ${{ matrix.package-manager }}
        run: |
          if [ "$PACKAGE_MANAGER" = "conan" ]; then
            echo "use-conan=1" > "$GITHUB_OUTPUT"
            echo "toolchain-file=conan_toolchain.cmake" > "$GITHUB_OUTPUT"
          else
            echo "use-conan=0" > "$GITHUB_OUTPUT"
            echo "toolchain-file=" > "$GITHUB_OUTPUT"
          fi
        shell: bash

      - uses: actions/checkout@v3
        with:
          submodules: true

      - name: Setup environment (Shared)
        run: |
          mkdir build
        shell: bash

      - name: Setup environment
        run: |
          echo "$HOME/.local/bin" >> "$GITHUB_PATH"

      - name: Install system dependencies
        if: startsWith(matrix.os, 'ubuntu')
        run: |
          sudo apt-get update
          sudo apt-get -y install gcovr

      - name: Install Conan
        if: matrix.package-manager == 'conan'
        run: pip3 install --user conan
        shell: bash

      - name: Cache conan packages
        if: matrix.package-manager == 'conan'
        uses: actions/cache@v3
        with:
          key: ${{ runner.os }}-conan-${{ hashFiles('**/conanfile.txt') }}-20211205
          path: ~/.conan/

      - name: Install library dependencies (Ubuntu)
        if: matrix.package-manager == 'none'
        run: |
          sudo apt-get update
          sudo apt-get -y install rapidjson-dev

      - name: Install dependencies with Conan
        if: matrix.package-manager == 'conan'
        run: |
          conan --version
          conan profile detect
          conan install --output-folder=. --build=missing -s build_type=Debug -pr:b=default ..
        shell: bash
        working-directory: build

      - name: Build
        run: |
          cmake \
              -DPAJLADA_SETTINGS_USE_CONAN=${{ steps.package-manager.outputs.use-conan }} \
              -DCMAKE_TOOLCHAIN_FILE="${{ steps.package-manager.outputs.toolchain-file }}" \
              -DBUILD_COVERAGE=On \
              -DCMAKE_BUILD_TYPE=Debug \
              ../tests
          cmake --build . --config Debug --parallel
        shell: bash
        working-directory: build

      - name: Run tests
        run: ctest
        shell: bash
        working-directory: build

      - name: Generate coverage
        run: make coverage
        shell: bash
        working-directory: build

      - name: Upload coverage reports to Codecov
        if: matrix.os == 'ubuntu-22.04'
        uses: codecov/codecov-action@v4.0.0-beta.3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          verbose: true
