---
name: Build

on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest, macos-latest]
        package-manager: [conan, none]
        exclude:
          - os: windows-latest
            package-manager: none

      fail-fast: false

    steps:
      - uses: actions/checkout@v5
        with:
          submodules: true

      - name: Setup environment (Shared)
        run: |
          mkdir build
        shell: bash

      - name: Enable Developer Command Prompt
        if: startsWith(matrix.os, 'windows')
        uses: ilammy/msvc-dev-cmd@v1.13.0

      - name: Install the latest version of uv
        if: matrix.package-manager == 'conan'
        uses: astral-sh/setup-uv@v6
        with:
          cache-dependency-glob: "" # we have recursive symlinks

      - name: Install Conan
        if: matrix.package-manager == 'conan'
        run: |
          uv tool install conan
          conan --version
          conan profile detect

      - name: Install libraries (MacOS)
        if: startsWith(matrix.os, 'macos') && matrix.package-manager == 'none'
        run: |
          brew install rapidjson ninja
        shell: bash

      - name: Build
        run: |
          cmake \
            --preset ${{ matrix.package-manager == 'conan' && 'debug-conan' || 'debug' }} \
            -G Ninja \
            --log-level=DEBUG \
            --log-context \
            ..
          cmake --build . --config Debug --parallel
        shell: bash
        working-directory: build

      - name: Run tests
        run: ctest
        shell: bash
        working-directory: build
